.container {
  margin: 0 auto;
  background-color: #bb1333;
  max-width: 350px;
  height: 500px;
  padding: 1em;
  border-radius: 1em;
}

.inner {
  padding: 30px;
}

img {
  width: 32%;
}

.display {
  height: 80px;
  border-radius: 50px;
  color: white;
  background-color: #000;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  font-size: 2.5rem;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  width: 90%;
}

.right {
  width: 40%;
}

button {
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid black;
  color: #fff;
  margin: 3px;
  font-size: 1.5rem;
}

.specials {
  background-color: #1a61b0;
}

.operators {
  background-color: #3ab5e5;
}

.numbers {
  background-color: #0c3c78;
}
